# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

+ List popular Languages for Data Science
+ List commonly used libraries used for Data Science
+ List Data Science Tools
+ Evaluating Arithmetic expressions in python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Scikit-Learn
3. Plotly

|  |  |  | |
| ------ | ----- | ----- | ------ |
| Data Science tools | Tableau | Tensorflow | Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
(200/60)

3.3333333333333335

## Author
Oluwasewa Osunkalu